<footer>
  <h2>Footer Menu</h2>
  <ul>
    <li><a href="privacy">Privacy Policy</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="work-for-us">Work For Us</a></li>
    <li><a href="media">Media</a></li>
    <li><a href="distributors">Distributors</a></li>
    <li><a href="the-beer">The Beer</a></li>
    <li><a href="find-some">Find Some</a></li>
    <li><a href="the-pub">The Pub - SF</a></li>
    <li><a href="tap-room">Tap Room - SL</a></li>
    <li><a href="brewery">Brewery</a></li>
    <li><a href="the-shop">The Shop</a></li>
    <li><a href="blog">Blog</a></li>
    <li><strong>follow us</strong></li>
    <li><a href="https://www.instagram.com/21stAmendment/">Instagram</a></li>
    <li><a href="https://www.facebook.com/21stAmendment">Facebook</a></li>
    <li><a href="https://twitter.com/21stAmendment">Twitter</a></li>
  </ul>

  <p>Copyright &copy; {{ now.Format "2006"}} 21st Amendment Brewery</p>
</footer>
