<header>
  <h1><a href="/">21st Amendment Brewery</a></h1>

  <h2>Menu</h2>
  <ul>
    <li><a href="the-beer">The Beer</a></li>
    <li><a href="find-some">Find Some</a></li>
    <li><a href="the-pub">The Pub - San Francisco</a></li>
    <li><a href="tap-room-brewery">Tap Room & Brewery - San Leandro</a></li>
    <li><a href="about-us">About Us</a></li>
    <li><a href="the-shop">The Shop</a></li>
    <li><a href="blog">Blog</a></li>
    <li><strong>follow us</strong></li>
    <li><a href="https://www.instagram.com/21stAmendment/">Instagram</a></li>
    <li><a href="https://www.facebook.com/21stAmendment">Facebook</a></li>
    <li><a href="https://twitter.com/21stAmendment">Twitter</a></li>
  </ul>
</header>
